.p-toolbar 
    padding: 0.4rem
    background: #fffcfc

.homepage__body
    width: 100vw
    height: 100vh
    margin: 0
    padding: 0    
    background: #F5F5F5

.logo
    max-width: 100%
    width: 28%
    margin-top: 0
    margin-left: 5%